<div class="w-full overflow-x-auto">
  <table class="min-w-full divide-y text-left w-full">
    <thead
      class="text-xs font-medium tracking-wider text-gray-500 uppercase dark:text-gray-400"
    >
      <tr class="divide-x">
        <th class="px-3 py-2 md:px-6 md:py-3">Hora</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Lunes</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Martes</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Miércoles</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Jueves</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Viernes</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Sábado</th>
        <th class="px-3 py-2 md:px-6 md:py-3">Domingo</th>
      </tr>
    </thead>
    <tbody class="divide-y dark:divide-gray-700">
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">7:00 AM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">8:00 AM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MODELO DE SOFTWARE</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">9:00 AM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MODELO DE SOFTWARE</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">10:00 AM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MODELO DE SOFTWARE</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">11:00 AM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MODELO DE SOFTWARE</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">12:00 -1:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MODELO DE SOFTWARE</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>

      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">1:50 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MATEMÁTICA III</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ADMINISTRACIÓN DE REDES</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">2:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MATEMÁTICA III</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ADMINISTRACIÓN DE REDES</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">3:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MATEMÁTICA III</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ADMINISTRACIÓN DE REDES</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">4:20 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">
          FUNDAMENTOS DE INVESTIGACIÓN III
        </td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MATEMÁTICA III</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ADMINISTRACIÓN DE REDES</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">5:10 - 6:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">
          FUNDAMENTOS DE INVESTIGACIÓN III
        </td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">MATEMÁTICA III</td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ADMINISTRACIÓN DE REDES</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">6:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ANALÍTICA DE DATOS</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">7:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ANALÍTICA DE DATOS</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">8:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ANALÍTICA DE DATOS</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">9:20 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">ANALÍTICA DE DATOS</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">10:10 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3 verde">TECNOLOGÍAS WEB</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
      <tr class="divide-x">
        <td class="px-3 py-2 md:px-6 md:py-3">11:00 PM</td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
        <td class="px-3 py-2 md:px-6 md:py-3"></td>
      </tr>
    </tbody>
  </table>
</div>
